.menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 115px;
  margin-bottom: 90px;
}

.menu-content h2 {
  color: #FFF9ED;
  text-align: center;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}

.content-cart {
  background-color: #FFF9ED;
  padding: 35px 0;
}

.content-cart h2 {
  font-size: 40px;
  font-weight: 700;
}

.card-menu-quantity {
  width: 138px;
  height: 33px;
  padding: 16px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 62px;
  background-color: #F0F0F0;
}

.card-menu-quantity button {
  display: flex;
  border: none;
}

.card-menu-quantity p {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-menu-quantity button img {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.cart-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 55%;
  padding: 20px 24px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.10);
}

.cart-item-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  background-color: #FFF9ED;
}

.cart-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #FFF9ED;
}

.cart-item img {
  width: 125px;
  height: 125px;
  border-radius: 10px;
}

.cart-item div {
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Abhaya Libre";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cart-qty {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}

.cart-delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.cart-delete-button img {
  display: flex;
  justify-content: end;
}

.cart-right {
  width: 40%;
  padding: 20px 24px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  height: 316px;
}

.cart-right p {
  color: #000;
  font-size: 24px;
  font-weight: 700;
}

.cart-checkout-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 24px;
  margin-bottom: 71px;
}

.cart-order {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cart-order-subtotal {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-order-subtotal p {
  color: #000;
  opacity: 0.4;
  font-weight: 400;
}

.cart-order-subtotal span {
  font-weight: 700;
}

.cart-order button {
  cursor: pointer;
  display: flex;
  padding: 16px 54px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-family: "Abhaya Libre";
  color: #FFF;
  border-radius: 62px;
  background: #372E2C;
}