.menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 115px;
  margin-bottom: 90px;
}

.menu-content h2 {
  color: #FFF9ED;
  text-align: center;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}

.content-cart {
  background-color: #FFF9ED;
  padding: 35px 0;
}

.content-cart h2 {
  font-size: 40px;
  font-weight: 700;
}

.card-menu-quantity {
  width: 138px;
  height: 33px;
  padding: 16px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 62px;
  background-color: #F0F0F0;
}

.card-menu-quantity button {
  display: flex;
  border: none;
}

.card-menu-quantity p {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card-menu-quantity button img {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.cart-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 55%;
}

.cart-item-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  background-color: #FFF9ED;
}

.cart-item {
  display: flex;
  flex-direction: row;
  gap: 10px;
  background-color: #FFF9ED;
}

.cart-item img {
  width: 125px;
  height: 125px;
}

.cart-item div {
  color: #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Abhaya Libre";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cart-qty {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-delete-button img {
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: transparent;
}

