.menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 115px;
  margin-bottom: 90px;
}

.menu-content h2 {
  color: #FFF9ED;
  text-align: center;
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 128px;
  font-style: normal;
  font-weight: 700;
  line-height: 64px;
}

.content-appetizer {
  background-color: #FFF9ED;
  padding: 35px 0;
}

.content-appetizer h1 {
  color: #000;
  font-size: 32px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.card-menu-quantity {
  width: 138px;
  height: 33px;
  padding: 16px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 62px;
  background-color: #F0F0F0;
}

.card-menu-quantity button {
  display: flex;
  border: none;
}

.card-menu-quantity p {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.card-menu-quantity button img {
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.quantity-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.qty-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.add-to-cart {
  border-radius: 62px;
  border: 1px solid rgba(0, 0, 0, 0.10);
  background: rgba(184, 142, 47, 0.34);
  display: flex;
  width: 129px;
  cursor: pointer;
  height: 33px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
}

.main-course {
  padding-top: 95px
}

.dessert {
  padding-top: 95px;
}

.drinks {
  padding-top: 95px;
  padding-bottom: 80px;
}


